.wishlist-main {
  padding: 0 var(--sp-thirtys);
}

.wishlist-heading {
  margin-bottom: var(--sp-thirtys);
}

.wishlist-display {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--sp-thirtys);
}
