.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-tens2);
  padding: var(--sp-thirtys);
  align-self: center;
  width: 100%;
}

.cart-heading {
  text-align: center;
  margin-bottom: var(--sp-tens2);
}

.cart-content {
  display: flex;
  gap: var(--sp-fourtys);
  align-items: flex-start;
}

/* || Cart Product Card || */
.cart-display {
  display: flex;
  flex-direction: column;
  gap: var(--sp-thirtys);
}

.cart-change-qty-container {
  display: flex;
  gap: var(--sp-tens2);
}

.cart-change-qty-container .textbox-container {
  width: var(--sp-thirtys);
}

.cart-change-qty-container .textbox {
  border: var(--sp-fractions1) solid var(--clr-primary);
}

.btn-cart-change-qty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--sp-tens2);
  height: var(--sp-tens2);
  border-radius: 50%;
  border: none;
  font-size: var(--f-tens4);
  padding: var(--sp-tens2);
  color: var(--clr-white);
  background-color: var(--clr-primary);
}
.btn-cart-change-qty:hover {
  background-color: var(--clr-primary-hover);
}

/* || Cart Summary || */
.cart-summary {
  display: flex;
  flex-direction: column;
  padding: var(--sp-tens2);
  border-radius: var(--br-1);
  background-color: var(--clr-white);
  font-weight: bold;
}

.cart-summary-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--sp-fourtys);
  margin-bottom: var(--sp-tens1);
}

.cart-summary-header {
  text-align: center;
}

.cart-summary-header,
.cart-summary-coupons,
.cart-summary-price,
.cart-summary-apply-coupon {
  border-bottom: var(--sp-fractions1) solid var(--clr-black);
}

.cart-summary-header,
.cart-summary-coupons,
.cart-summary-price,
.cart-summary-apply-coupon,
.cart-summary-subtotal {
  padding: var(--sp-tens2);
}

.cart-summary-element-btn {
  padding: 6px var(--sp-tens1);
}
