.display-1 {
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
  margin: 0 8.5%;
}

.display-1-img-container {
  flex-basis: 20%;
  position: relative;
}

.display-1-img-container:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
}

.display-1-img {
  height: 9.6rem;
  object-fit: cover;
}

.display-1-img-text {
  position: absolute;
  bottom: 1.6rem;
  left: 0;
  right: 0;
  z-index: 1;
  color: var(--primary);
  background-color: var(--white);
  padding: 2px;
  border-radius: 2px;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}
