.display-1 {
  background-color: var(--clr-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--sp-thirtys);
  margin: 0 8.5%;
}

.display-1-img-container {
  flex-basis: 20%;
  position: relative;
  cursor: pointer;
}

.display-1-img-container:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.display-1-img {
  height: var(--sp-ninetys);
  object-fit: cover;
}

.display-1-img-text {
  position: absolute;
  bottom: var(--sp-tens2);
  left: 0;
  right: 0;
  z-index: 1;
  color: var(--clr-primary);
  background-color: var(--clr-white);
  padding: var(--sp-fractions1);
  font-size: var(--f-tens4);
  font-weight: bold;
  text-align: center;
}
