.display-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--sp-thirtys);
  background-color: var(--clr-bg);
  margin: 0 8.5%;
}

.display-3-sub-container {
  width: 100%;
  display: flex;
  position: relative;
}

.display-3-img {
  height: 32rem;
  object-fit: cover;
}

.display-3-img:hover {
  cursor: pointer;
}

.badge-arrivals {
  position: absolute;
  top: var(--sp-tens2);
  right: 0;
  z-index: 1;
  color: var(--clr-white);
  background-color: var(--clr-primary);
  font-size: var(--f-tens4);
  padding: 8px;
  border-radius: 7px 0 0 7px;
  cursor: pointer;
}

.display-3-text {
  position: absolute;
  bottom: var(--sp-thirtys);
  right: var(--sp-thirtys);
  z-index: 1;
  color: var(--clr-white);
  background-color: var(--clr-black);
  padding: var(--sp-fractions2);
  border-radius: var(--sp-fractions1);
  font-size: var(--f-twentys2);
  font-weight: bold;
  cursor: pointer;
}
