.display-2 {
  background-color: var(--bg);
  margin: 0 8.5%;
}

.display-2-img-container {
  width: 100%;
  position: relative;
}

.display-2-img {
  height: 64rem;
  object-fit: cover;
}

.display-2-cta {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  position: absolute;
  top: 8rem;
  left: 8rem;
  z-index: 1;
  color: var(--white);
  font-size: 6.4rem;
  font-weight: bold;
}

.display-2-cta .text-highlight {
  color: var(--primary);
}

.display-2-cta > .btn {
  font-size: 3.2rem;
  padding: 1.6rem;
}
