.display-2 {
  background-color: var(--clr-bg);
  margin: 0 8.5%;
}

.display-2-img-container {
  width: 100%;
  position: relative;
}

.display-2-img {
  height: 64rem;
  object-fit: cover;
}

.display-2-cta {
  display: flex;
  flex-direction: column;
  gap: var(--sp-tens2);
  align-items: center;
  position: absolute;
  top: var(--sp-eightys);
  left: var(--sp-eightys);
  z-index: 1;
  color: var(--clr-white);
  font-size: var(--sp-sixtys);
  font-weight: bold;
}

.display-2-cta .text-highlight {
  color: var(--clr-primary);
}

.display-2-cta > .btn {
  font-size: var(--f-thirtys1);
  padding: var(--sp-tens2);
}
