.navigation-container {
  background-color: var(--clr-white);
  box-shadow: 0 var(--sp-fractions2) var(--sp-fractions2) -1px var(--primary-shadow);
}

.navigation-brand {
  font-size: var(--f-thirtys2);
  text-decoration: none;
  color: var(--clr-primary);
}

.navigation-bar .textbox-icon-container {
  color: var(--clr-primary);
  border-color: var(--clr-primary);
}

.navigation-bar ::placeholder {
  color: var(--clr-primary);
}

.navigation-bar .textbox {
  outline: none;
  caret-color: var(--clr-primary);
  color: var(--clr-primary);
}

.navigation-login > .btn {
  font-size: var(--f-tens4);
  padding: 8px var(--f-twentys2);
}

.navigation-action .btn-icon {
  font-size: var(--f-thirtys1);
}
