.navigation-container {
  background-color: var(--white);
  box-shadow: 0 3px 3px -1px var(--primary-shadow);
}

.navigation-brand {
  font-size: 3.6rem;
  text-decoration: none;
  color: var(--primary);
}

.navigation-bar .textbox-icon-container {
  color: var(--primary);
  border-color: var(--primary);
}

.navigation-bar ::placeholder {
  color: var(--primary);
}

.navigation-bar .textbox {
  outline: none;
  caret-color: var(--primary);
  color: var(--primary);
}

.navigation-login > .btn {
  font-size: 1.6rem;
  padding: 8px 2.4rem;
}

.navigation-action .btn-icon {
  font-size: 3.2rem;
}
