@import url("https://minnal-ui.netlify.app/styles.css");

:root {
  --bg: #e7f7fe;
  --primary-shadow: rgba(14, 164, 233, 0.184);
}

html {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Lato", sans-serif;
  background-color: var(--bg);
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
  gap: 2rem;
}
