@import url("https://minnal-ui.netlify.app/styles.css");

:root {
  --clr-bg: #e7f7fe;
  --clr-bg-sidebar: #fff;
  --primary-shadow: rgba(14, 164, 233, 0.184);
}

html {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Lato", sans-serif;
  background-color: var(--clr-bg);
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: var(--sp-thirtys);
  gap: var(--sp-thirtys);
}

.link {
  text-decoration: none;
  font-weight: var(--fwt-normal);
}
