.products-display {
  flex: 4;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5rem;
  padding: 2.5rem;
}

.products-display-listing {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5rem;
  list-style: none;
}
