.products-display {
  flex: 4;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--sp-thirtys);
  padding: var(--sp-thirtys);
}

.products-display-listing {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--sp-thirtys);
  list-style: none;
}
