.sidebar {
  flex: 1;
  padding: var(--sp-thirtys);
  background-color: var(--clr-bg-sidebar);
  border-right: var(--sp-fractions2) solid var(--clr-white);
}

.sidebar .btn-secondary-outline {
  top: var(--sp-twentys);
  right: var(--sp-twentys);
  font-size: var(--f-twentys1);
  padding: var(--sp-fractions1);
}

.filters-list {
  display: flex;
  flex-direction: column;
  gap: var(--sp-twentys);
  list-style: none;
}

.filters-list-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-container,
.radio-container {
  display: flex;
  flex-direction: column;
  gap: var(--sp-tens2);
  align-items: flex-start;
}
